---
title: {{replace title "/" " - "}}
tags: {{join tags ", "}}
{{#if created_time}}
created: {{format_time "%Y-%m-%d" created_time}}
edited: {{format_time "%Y-%m-%d" edited_time}}
{{/if}}
---

{{{body}}}
